<header class="w-full p-4">
    <nav class="flex items-center justify-between flex-wrap">
        <a href="{{ .Site.Home.Permalink }}" class="dm-serif-display text-4xl flex items-center text-gray-600 font-bold">
            <img width="72" src="/svg/org_logo.svg"/> {{ .Site.Title }}
        </a>
        <div class="block sm:hidden">
            <button id="nav-open" class="flex items-center text-gray-500 hover:text-blue-500">
                <img src="/svg/menu.svg" class="fill-current h-4 w-4" title="Open menu" />
            </button>
            <button id="nav-close" class="hidden flex items-center text-gray-700 hover:text-blue-500">
                <img src="/svg/close.svg" class="fill-current h-4 w-4" title="Close menu" />
            </button>
        </div>
        <ul id="nav-menu" class="w-full flex-grow sm:flex items-center sm:w-auto hidden sm:block justify-end list-reset mt-2 sm:mt-0">
            <li class="px-2">
                <a href="/" class="font-semibold text-gray-700 nav-link">About</a>
            </li>

            {{ range .Site.Sections }}
            <li class="px-2">
                <a href="{{ .Permalink }}" class="font-semibold text-gray-700 nav-link">{{ .Title }}</a>
            </li>
            {{ end }}
        </ul>
    </nav>
</header>